.wrapper{
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1300px;
}

.send{
    width: 170px;
    background-color:  rgb(218, 95, 20);
}

.buttons{
    background-color: darkgreen;
    color: white;
    margin-right: 1450px;
    margin-bottom: 20px;
}